/Java2Projekt/nbproject/private/
/Java2Projekt/build/
/Java2Projekt/dist/
/AnimationDemo/nbproject/private/
/AnimationDemo/dist/
/AnimationDemo/build/
/ReservationRMIServer/nbproject/private/
/ReservationRMIServer/build/
/ReservationRMIServer/dist/