/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2020, 3:42:17 PM
    Author     : evlakre
*/

.jfx-button:hover{
    -fx-background-color: #5ab0ff;
    -fx-text-fill: black !important;
}
.jfx-button {
    -fx-border-color: white;
    -fx-border-width: 0 0 0.5 0;
}

.border-pane {

}

.sidebar .label, .sidebar .jfx-button {
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #033e74;
}

.login-button {
    -fx-background-color: #173867;
    -fx-border-width: 0;
}

/*Users tab*/

.jfx-tab-pane .tab-header-background{
    -fx-background-color: #96cdff;
}
.tab {
    /*    -fx-border-style:solid; */
    -fx-padding: 1;
}
.tab .tab-label {
    -fx-text-fill: black;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #033e74;
}
.jfx-tab-pane .control-buttons-tab .jfx-rippler{
    -jfx-rippler-fill: white;
}